{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Clínica Veterinaria{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>

<body>
    <header class="main-header">
        <img src="{% static 'img/logo2.png' %}" alt="Logo de la Clínica Veterinaria" class="logo">
        <nav class="navbar">
            <a href="{% url 'home' %}"><i class="fas fa-home"></i> Inicio</a>
            <a href="{% url 'services' %}"><i class="fas fa-stethoscope"></i> Servicios</a>
            <a href="{% url 'propietarios_list' %}"><i class="fas fa-user"></i> Propietarios</a>
            <a href="{% url 'mascotas_list' %}"><i class="fas fa-dog"></i> Mascotas</a>
            <a href="{% url 'citas_list' %}"><i class="fas fa-calendar-alt"></i> Citas</a>
            <a href="{% url 'medicamentos_list' %}"><i class="fas fa-pills"></i> Medicamentos</a>
            <a href="{% url 'cirugias_list' %}"><i class="fas fa-hospital"></i> Cirugías</a>
            <a href="{% url 'ver_exportaciones' %}"><i class="fas fa-file-export"></i> Exportaciones</a>
        </nav>
    </header>

    <main class="main-content">
        <div class="container">
        {% block content %}
        {% endblock %}
        </div>
    </main>

    <footer class="footer">
        <p>&copy; 2025 Clínica Veterinaria - Todos los derechos reservados.</p>
        <p>Desarrollado por Pythonicos</p>
    </footer>
</body>
</html>
