{% extends 'vet_sprint/base.html' %}

{% block title %}Gestión de Medicamentos{% endblock %}

{% block content %}

    <h2>Gestión de Medicamentos</h2>
    <a href="{% url 'medicamento_create' %}" class="button-add">Registrar Nuevo Medicamento</a>

    {% if medicamentos %}
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Cantidad</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for medicamento in medicamentos %}
                    <tr>
                        <td>{{ medicamento.id }}</td>
                        <td>{{ medicamento.nombre }}</td>
                        <td>{{ medicamento.descripcion|truncatechars:50 }}</td>
                        <td>${{ medicamento.cantidad }}</td>
                        <td>
                            <a href="{% url 'medicamento_update' medicamento.pk %}" class="button-edit">Editar</a>
                            <a href="{% url 'medicamento_delete' medicamento.pk %}" class="button-delete">Eliminar</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No hay medicamentos registrados todavía.</p>
    {% endif %}
{% endblock %}