{% extends 'vet_sprint/base.html' %}

{% block title %}{{ accion }} Propietario{% endblock %}

{% block content %}
    <h2>{{ accion }} Propietario</h2>
    <form method="post">
        {% csrf_token %} {# Token de seguridad requerido por Django para formularios POST #}
        {{ form.as_p }} {# Esto renderiza los campos del formulario como párrafos #}
        <button type="submit" class="button">{{ accion }}</button>
        <a href="{% url 'propietarios_list' %}" class="button">Cancelar</a>
    </form>
{% endblock %}